body{
    background: #8fc0a9;
}

aside {
    float: left;
    background: #68b0ab;
    position: fixed;
    padding: 0% 0% 0%;
    z-index: 1000;
    min-width: 25%;
    width: 25%;
    height: 100vh;
    color: #faf3dd;
    border-right: 0.5vw solid #c8d5b9;
    border-bottom: 0.5vw solid #c8d5b9;
}

aside .time{
    list-style: none;
    font-size: 0.6vw;
    margin: 0;
    padding: 0% 10% 5%;
    width: 100%;
    min-width: 100%;
    position: relative;
    border-bottom: 0.3vw solid #c8d5b9;
 }
 aside .projects{
    list-style: none;
    font-size: 0.6vw;
    margin: 0;
    padding: 0% 10% 5%;
    width: 100%;
    min-width: 100%;
    position: relative;
    border-bottom: 0.3vw solid #c8d5b9;
 }
 aside .tags{
    list-style: none;
    font-size: 0.6vw;
    margin: 0;
    padding: 0% 10% 5%;
    width: 100%;
    min-width: 100%;
    position: relative;
    border-bottom: 0.3vw solid #c8d5b9;
 }
 aside .help{
    list-style: none;
    font-size: 0.6vw;
    margin: 0;
    padding: 0% 10% 5%;
    width: 100%;
    min-width: 100%;
    position: relative;
 }


aside .d {
    text-decoration: none;
    color: #faf3dd;
    margin-left: 2%;
    line-height: 0;
    width: 100%;
    min-width: 100%;
    height: 100%;
    font-size: 1.1vw;
    transition: transform .3s ease;
}


aside ul li:hover, aside ul a:hover {
    color: #ffb300;
    text-decoration: none;
    transform: scale(1.06);
}

aside ul h3{
    font-size: 1.5vw;
    width: 100%;
    min-width: 100%;
    float: center;
    position: relative;
    margin: 0;
    padding: 3% 30% 2%;
}
