{% load static  %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'mainpage/css/style.css' %}">

</head>
<body>
<aside class="sidenav">
    <ul class="main-buttons">
      <li>
        <i class="fa fa-calendar fa-2x"></i>
        Задачи
        <ul class="hidden">
          <a href="{% url 'main' %}"><li>Сегодня</li></a>
          <a href="{% url 'tomorrow' %}"><li>Завтра</li></a>
          <a href="{% url 'week' %}"><li>Неделя</li></a>
          <a href="{% url 'month' %}"><li>Месяц</li></a>
        </ul>
      </li>
      <li>
        <i class="fa fa-sitemap fa-2x"></i>
        Проекты
        <ul class="hidden">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>Ещё</li>
        </ul>
      </li>
      <li>
        <i class="fa fa-tag fa-2x"></i>
         Теги
         <ul class="hidden">
          <a href="{% url 'tags' parameter='💻Работа' parameter2='all' %}"><li>💻 Работа</li></a>
          <a href="{% url 'tags' parameter='👫Семья' parameter2='all' %}"><li>👫 Семья</li></a>
          <a href="{% url 'tags' parameter='🧬Здоровье' parameter2='all' %}"><li>🧬 Здоровье</li></a>
             <a href="{% url 'tags' parameter='🏆Спорт' parameter2='all' %}"><li>🏆 Спорт</li></a>
             <a href="{% url 'tags' parameter='more' parameter2='all' %}"><li>Ещё</li></a>
        </ul>
      </li>
        <li>
        <i class="fa fa-tasks fa-2x"></i>
         Помощь планирования
         <ul class="hidden">
          <li>Матрица</li>
          <li>2</li>
          <li>3</li>
             <li>4</li>
             <li>Ещё</li>
        </ul>
      </li>
        <br><br><br><br><br>
        <li>
        <i class="fa fa-user fa-2x"></i>
         Дополнительно
         <ul class="hidden">
          <li>Выход</li>
          <li>Настройки</li>
          <a href="{% url 'archive_tasks' %}"><li>Архив</li></a>
             <li>Оповещения</li>
        </ul>
      </li>
    </ul>
</aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
  
</body>
</html>
