{%  extends 'mainpage/index.html' %}
{% load static  %}

{% block title %}Оповещения{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'mainpage/css/plan.css' %}">
<body>
<div class="box">
	<a href="#id" class="link-1" id="">Добавить оповещения</a>
	{% for el in user_info %}
          <tr>
	      	<table class="bg_white" role="presentation" cellpadding="0" cellspacing="0" width="70%">
					  <tr style="border-bottom: 1px solid rgba(0,0,0,.05);">

                          {% if el.is_active %}
                            <td  valign="middle" width="10%" style="text-align:center; padding: 0 1em;">
                                <p title="Рассылка активна"><i class="fa fa-check" style="color:#006400; font-size:1.4em;"></i></p>
                            </td>
                          {% else %}
                            <td  valign="middle" width="10%" style="text-align:center; padding: 0 1em;">
                                <p title="Рассылка отключена"><i class="fa fa-ban" style="color:#cc0605; font-size:1.4em;"></i></p>
                            </td>
                          {% endif %}

					  	<td valign="middle" width="40%" style="text-align:center; padding: 1em 2em;">
                                  <span><strong>ID: {{ el.user_id }}</strong></span>
					  	</td>
						  <td  valign="middle" width="40%" style="text-align:center; padding: 0 1em;">
                            <span class="price" style="color: #000; font-size: 1.5rem; font-family: 'Work Sans', sans-serif;"><strong>{{ el.name }}</strong></span>
                        </td>
                          <td valign="middle" width="10%" style="text-align:left;">
                            <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arvo&amp;display=swap'>
                          <nav role="navigation" class="primary-navigation">
                              <ul>
                                <li><a><i class="fa fa-ellipsis-h"></i></a>
                                  <ul class="dropdown">
                                    <li><a href="{% url 'del_notif' parameter=el.user_id %}">Удалить</a></li>
                                      {% if el.is_active %}
                                        <li ><a href="{% url 'upd_notif' parameter=el.user_id parameter2='True' %}">Остановить оповещения</a></li>
                                      {% else %}
                                        <li ><a href="{% url 'upd_notif' parameter=el.user_id parameter2='False' %}">Возобновить оповещения</a></li>
                                      {% endif %}
                                  </ul>
                                </li>
                              </ul>
                            </nav>
					  	</td>
					  </tr>
	      	</table>
	      </tr>
    {% endfor %}
</div>

<div class="modal-container" id="id" style="--m-background: transparent;">
    <div class="modal">
      <h1 class="modal__title">Добавить рассылку</h1>
      <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="modal__btn" type="submit">Добавить</button>
      </form>
      <a href="" class="link-2"></a>
    </div>
  </div>

</body>

{% endblock %}