{%  extends 'mainpage/index.html' %}
{% load static  %}

{% block title %}Задачи{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'mainpage/css/plan.css' %}">
<body>
<div class="box">
  <a href="#m1-o" class="link-1" id="m1-c">Добавить задачу</a>
  {% for el in task %}
<div class="u-row-container" style="padding: 10px 0px 0px;background-color: transparent">
  <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;align: center;">
	<h1 class="v-line-height v-font-size" style="padding:10px 0px 0px; display: row; margin: 0px; line-height: 150%; text-align: center; word-wrap: break-word; font-weight: normal; font-size: 15px; color: #d52201;"><strong>{{ el.title }}</strong></h1>
   <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">

<div class="u-col u-col-50" style="max-width: 40%;min-width: 300px;display: table-cell;vertical-align: top;">
  <div style="height: 100%;width: 100% !important;border-radius: 10px;-webkit-border-radius: 10px; -moz-border-radius: 10px;">

<table id="u_content_heading_3" style="font-family:arial,helvetica,sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
  <tbody>
    <tr>
      <td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:10px 10px 20px;font-family:arial,helvetica,sans-serif;" align="center">
	<h1 style="margin: 0px; color: #d52201; line-height: 50%; text-align: center; word-wrap: break-word; font-weight: normal; font-size: 13px;"><strong>  {{ el.task }}</strong><br /></h1>
      </td>
    </tr>
  </tbody>
</table>

  </div>
</div>


<div class="u-col u-col-50" style="max-width: 40%;min-width: 300px;display: table-cell;vertical-align: top;">
  <div style="height: 100%;width: 100% !important;border-radius: 10px;-webkit-border-radius: 10px; -moz-border-radius: 10px;">

<table id="u_content_heading_3" style="font-family:arial,helvetica,sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
  <tbody>
    <tr>
      <td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:10px 10px 20px;font-family:arial,helvetica,sans-serif;" align="center">
   <h1 style="margin: 0px; color: #d52201; line-height: 50%; text-align: center; word-wrap: break-word; font-weight: normal; font-size: 13px;"><strong>  {{ el.teg }}</strong><br /></h1>
      </td>
    </tr>
  </tbody>
</table>


  </div>
</div>

    </div>
  </div>
</div>
{% endfor %}

  <div class="modal-container" id="m1-o" style="--m-background: transparent;">
    <div class="modal">
      <h1 class="modal__title">Добавление задачи</h1>
      <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="modal__btn" type="submit">Подтвердить &rarr;</button>
      </form>
      <a href="#m1-c" class="link-2"></a>
    </div>
  </div>
</div>

</body>

{% endblock %}