{%  extends 'mainpage/index.html' %}
{% load static  %}

{% block title %}Задачи{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'mainpage/css/plan.css' %}">
<body>
<div class="box">
  <a href="#m1-o" class="link-1" id="m1-c">Добавить задачу</a>
  {% for el in task %}
          <tr>
	      	<table class="bg_white" role="presentation" cellpadding="0" cellspacing="0" width="70%">
					  <tr style="border-bottom: 1px solid rgba(0,0,0,.05);">
					  	<td valign="middle" width="60%" style="text-align:left; padding: 0 2em;">
					  		<div class="product-entry">
					  			<div class="text">
                                  <span><strong>{{ el.title }}</strong></span>
					  				<p>{{ el.task }}</p>
					  			</div>
					  		</div>
					  	</td>
                        {% if el.is_global %}
                        <td  valign="middle" width="15%" style="text-align:left;">
                            <span class="price" style="color: #000; font-size: 2rem;">{{ el.global_task }}</span>
                        </td>
                        {% endif %}
					  	<td valign="middle" width="15%" style="text-align:left; padding: 0 2em;">
					  		<span class="price" style="color: #000; font-size: 2rem;">{{ el.teg }}</span>
					  	</td>
                        <td valign="middle" width="10%" style="text-align:left; background:#131720">
                          <details class="dropdown">
                          <summary role="button" style="list-style: none">
					  		<i class="fa fa-bars fa-2x" style="color: #fff; font-size: 2rem; padding: 0 2em;"></i>
                             </summary>
                                  <ul style="list-style: none; text-align:left; padding: 0 2em; background:#131720">
                                    <li><a href="#" style="color: #3cab3c">В архив </a></li>
                                    <li><a href="#" style="color: #ebeb00">Изменить дату</a></li>
                                    <li><a href="#" style="">Привязать к глобальному проекту</a></li>
                                    <li><a href="#" style="color: #f13a13">Удалить</a></li>
                                </ul>
                            </details>
					  	</td>
					  </tr>
	      	</table>
	      </tr>
{% endfor %}

  <div class="modal-container" id="m1-o" style="--m-background: transparent;">
    <div class="modal">
      <h1 class="modal__title">Добавление задачи</h1>
      <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="modal__btn" type="submit">Подтвердить &rarr;</button>

      </form>
      <a href="#m1-c" class="link-2"></a>
    </div>
  </div>
</div>

</body>

{% endblock %}