{%  extends 'mainpage/index.html' %}
{% load static  %}

{% block title %}Задачи{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'mainpage/css/plan.css' %}">
<body>
<div class="box">
  <a href="#task" class="link-1" id="">Добавить задачу</a>
    {% if day == 'today' %}
     <h1 style="font-size:2em; color: #fff; font-family: 'Work Sans', sans-serif;">Сегодня:</h1>
    {% else %}
    <h1 style="font-size:2em; color: #fff; font-family: 'Work Sans', sans-serif;">Завтра:</h1>
    {% endif %}
  {% for el in task %}
    {% if not el.is_archive %}
          <tr>
	      	<table class="bg_white" role="presentation" cellpadding="0" cellspacing="0" width="70%">
					  <tr style="border-bottom: 1px solid rgba(0,0,0,.05);">
					  	<td valign="middle" width="60%" style="text-align:left; padding: 0 2em;">
					  		<div class="product-entry">
					  			<div class="text">
                                  <span><strong>{{ el.title }}</strong></span>
					  				<p>{{ el.task }}</p>
					  			</div>
					  		</div>
					  	</td>
                        {% if el.is_global %}
                        <td  valign="middle" width="10%" style="text-align:center; background: #b3c3e6; padding: 0 1em;">
                            <span class="price" style="color: #000; font-size: 1.5rem; font-family: 'Work Sans', sans-serif;"><strong>{{ el.global_task }}</strong></span>
                        </td>
                        {% endif %}
					  	<td valign="middle" width="25%" style="text-align:right; padding: 0 2em;">
					  		<span class="price" style="color: #000; font-size: 1.6rem; border: 0.7rem solid #828791; border-radius: 16px; background: #828791;"><strong>{{ el.teg }}</strong></span>
					  	</td>
                        <td valign="middle" width="5%" style="text-align:left;">
                            <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arvo&amp;display=swap'>
                          <nav role="navigation" class="primary-navigation">
                              <ul>
                                <li><a><i class="fa fa-ellipsis-h"></i></a>
                                  <ul class="dropdown">
                                    <li><a href="{% url 'archive' parameter=el.id parameter2=day%}">В архив</a></li>
                                    <li ><a href="#dat{{ el.id }}" class="link-5" id="{{ el.id }}">Перенести дату</a></li>
                                      {% if el.is_global %}
                                    <li><a href="#project{{ el.id }}" class="link-6" >Поменять проект</a></li>
                                      {% else %}
                                    <li><a href="#project{{ el.id }}" class="link-6" >Привязать к проекту</a></li>
                                      {% endif %}
                                    <li><a href="{% url 'del' parameter=el.id parameter2=day %}">Удалить</a></li>
                                  </ul>
                                </li>
                              </ul>
                            </nav>
					  	</td>
					  </tr>
	      	</table>
	      </tr>

    <div class="modal-container" id="dat{{ el.id }}" style="--m-background: transparent;">
    <div class="modal">
        <h1 class="modal__title">Смена даты</h1>
        <form method="post">
      {% csrf_token %}
      {{ dateform.date }}
            <input value={{ el.id }} id="id" name="id" class="id" style="visibility: hidden;">
      <button class="modal__btn" type="submit" >Подтвердить &rarr;</button>
      </form>
      <a href="" class="link-2"></a>
    </div>
  </div>


    <div class="modal-container" id="project{{ el.id }}" style="--m-background: transparent;">
    <div class="modal">
        <h1 class="modal__title">Привязать к проекту</h1>
        <form method="post">
            {% csrf_token %}
            {{ globform.global_add }}
            <label for="sel">Выберите существующий</label>
            <select name="sel" id="id_sel">
                {% for i in global_tasks %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
                {% if "" not in global_tasks %}
                <option value="" selected=""></option>
                {% endif %}
            </select>
            <input value={{ el.id }} id="idtask" name="idtask" class="idtask" style="visibility: hidden;">
            <button class="modal__btn" type="submit">Подтвердить &rarr;</button>
      </form>
      <a href="" class="link-2"></a>

    </div>
  </div>

    {% endif %}
{% endfor %}



  <div class="modal-container" id="task" style="--m-background: transparent;">
    <div class="modal">
      <h1 class="modal__title">Добавление задачи</h1>
      <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="modal__btn" type="submit">Подтвердить &rarr;</button>
      </form>
      <a href="" class="link-2"></a>
    </div>
  </div>


</div>

</body>

{% endblock %}